DATABASE_URI=postgresql://postgres@postgres:5432

EMAIL_VERIFICATION=false
SENDINBLUE_API_KEY=
REQUIRE_INVITE_TO_REGISTER=false

CAPTCHA_ENABLED=false
CAPTCHA_TOKEN=
CAPTCHA_KEY=


PORT=8080
TRUST_CLOUDFLARE=false
